<div class="col-md-3">
    <div class="row">
        <div class="col-md-12 centerimg">
            {% if product.category.categoryname == "Beverages" %}
            <img src="/static/imgbycat/Beverages.jpg" alt="Placeholder picture of the category.">
            {% elif product.category.categoryname == "Condiments" %}
            <img src="/static/imgbycat/Condiments.jpg" alt="Placeholder picture of the category.">
            {% elif product.category.categoryname == "Confections" %}
            <img src="/static/imgbycat/Confections.jpg" alt="Placeholder picture of the category.">
            {% elif product.category.categoryname == "Dairy Products" %}
            <img src="/static/imgbycat/Dairy.jpg" alt="Placeholder picture of the category.">
            {% elif product.category.categoryname == "Grains/Cereals" %}
            <img src="/static/imgbycat/Grains.jpg" alt="Placeholder picture of the category.">
            {% elif product.category.categoryname == "Meat/Poultry" %}
            <img src="/static/imgbycat/Meat.jpg" alt="Placeholder picture of the category.">
            {% elif product.category.categoryname == "Produce" %}
            <img src="/static/imgbycat/Produce.jpg" alt="Placeholder picture of the category.">
            {% else %}
            <img src="/static/imgbycat/Seafood.jpg" alt="Placeholder picture of the category.">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            {{ product.productname }}<br>
            FROM {{ product.supplier.suppliername }}<br>
            {{ product.category.categoryname }}<br>
        </div>
        <div class="col-md-5">
            {{ product.unit }}<br>
            {{ product.price }}<br>
            ID--->{{ product.id }}<br>
            INDEX--->{{ products.index(product) }}
        </div>
    </div>
</div>
<!-- This was done to achieve a grid system. It end and starts another row after every fourth item. -->
{% if (products.index(product) + 1) % 4 == 0 and products.index(product) != 23 and products.index(product) != 0 %}
</div><div class="row">
{% endif %}